{% load static %}

<nav id="navbar">
    <ul id="primary-navigation" class="tw-z-2 tw-flex tw-gap-x-6 tw-gap-y-8 md-maxw:tw-fixed md-maxw:tw-translate-x-full md-maxw:tw-inset-y-0 md-maxw:tw-right-0 md-maxw:tw-flex-col md-maxw:tw-bg-white md-maxw:tw-shadow-nav" data-visible="false">
        <li>
            <a href="#Projects">
                <span class="tw-font-bold tw-me-2" aria-hidden="true">00</span>Projects
            </a>
        </li>
        <li>
            <a href="#About">
                <span class="tw-font-bold tw-me-2" aria-hidden="true">01</span>About
            </a>
        </li>
    </ul>
</nav>