.splash-screen {
	height: 100vh;
	height: 100svh;
	z-index: 2000;
	animation: hide-splash-screen 500ms cubic-bezier(.53,.04,.74,.17);
	animation-delay: calc(150ms + 1.85s);
	animation-fill-mode: forwards;
}
.splash-screen.back-splash-screen {
	z-index: 1999;
	animation: hide-splash-screen 400ms ease-out;
	animation-delay: calc(150ms + 2.25s);
	animation-fill-mode: forwards;
	background-color: #11B5E4;
}
@keyframes hide-splash-screen {
	from {
		transform: translateY(0);
	}
	to {
		transform: translateY(-100%);
	}
}

.splash-screen svg path {
	stroke-dasharray: 110;
}

.splash-screen svg .path1 {
	animation: animate-logo 600ms ease-in;
	animation-delay: 100ms;
	animation-fill-mode: forwards;
}
.splash-screen svg .path2 {
	animation: animate-logo 600ms linear;
	animation-delay: calc(100ms + 400ms);
	animation-fill-mode: forwards;
}
.splash-screen svg .path3 {
	animation: animate-logo 600ms linear;
	animation-delay: calc(100ms + 950ms);
	animation-fill-mode: forwards;
}
.splash-screen svg .path4 {
	animation: animate-logo 600ms linear;
	animation-delay: calc(100ms + 1.6s);
	animation-fill-mode: forwards;
}

@keyframes animate-logo {
	from {
		stroke-dashoffset: 110;
	}
	to {
		stroke-dashoffset: 0;
	}
}